.Rproj.user
.Rhistory
.RData
.Ruserdata
1-Semestre/CienciaDeDados-STC878/Dados/sinasc_2022.csv
1-Semestre/CienciaDeDados-STC878/Dados/saeb_2021_ts_aluno_9ef.csv
1-Semestre/AnaliseDeCorrelacaoRegressao-STC854/Dados/Datasets.zip
1-Semestre/AnaliseDeCorrelacaoRegressao-STC854/Projeto/modeloReg_files/*
1-Semestre/AnaliseDeCorrelacaoRegressao-STC854/Projeto/modeloReg_cache/*
1-Semestre/AnaliseDeCorrelacaoRegressao-STC854/Projeto/modeloReg.html
1-Semestre/CienciaDeDados-STC878/R/Atividade1/Atividade-1_files/*
1-Semestre/CienciaDeDados-STC878/R/Atividade1/Atividade-1_cache/*
1-Semestre/CienciaDeDados-STC878/TrabalhoFinal/TrabFinal_files/*
1-Semestre/CienciaDeDados-STC878/TrabalhoFinal/TrabFinal_cache/*
1-Semestre/CienciaDeDados-STC878/TrabalhoFinal/TrabFinal.html
2-Semestre/PlanejamentoDeExperimentos-STC856/Artigo/apresentacao_artigo_dic_files
2-Semestre/PlanejamentoDeExperimentos-STC856/Artigo/apresentacao_artigo_files
2-Semestre/Inferencia-STC853/TrabalhoFinal/dados/*
3-Semestre/Series-temporais/Trabalho/dados/*
3-Semestre/Series-temporais/Prova 2/Prova2Resolvida_files/*
3-Semestre/STC851-CEP-ControleEstatisticodoProcesso/TrabalhoFinal/*
